{% extends 'network/layout.html' %}

{% block body %}

    <hr>
    <div class="container">
        <h3>Your Feed</h3>
        {% for post in posts %}
           <div class="post">
                    <div class="post-header d-flex align-items-center justify-content-between">
                        <!-- Left section -->
                        <div class="d-flex align-items-center gap-4">
                            <strong>
                                <a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a>
                            </strong>
                            <em class="text-muted">{{ post.timestamp }}</em>
                        </div>

                        <!-- Right section -->
                        <div>
                            <a class="nav-link" href="#" id="postDropdown" role="button" 
                            data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis"></i>       
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="postDropdown">
                                {% if user.username == post.user.username %}    
                                    <!-- edit post -->
                                    <li class="nav-item">
                                        <a class="nav-link edit-content-btn" data-set="{{ post.id }}">Edit</a>
                                    </li>
                                    <!-- delete post -->
                                    <li class="nav-item">
                                        <a class="nav-link delete-content-btn" data-set="{{ post.id }}">Delete</a>
                                    </li>  
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link report-content-btn" data-set="{{ post.id }}">Report Post</a>
                                    </li>    
                                {% endif %} 

                            </ul>
                        </div>
                    </div>
                    <p  class="post-content">{{ post.content }}</p>
                    
                    <div class="like-container" data-post-id="{{ post.id }}">
                        {% if user.is_authenticated and post.liked_by_user %}
                            <i class="fa-solid fa-heart text-danger like-btn"></i>
                        {% else %}
                            <i class="fa-regular fa-heart like-btn"></i>
                        {% endif %}
                        <span class="like-count">{{ post.like_count }}</span>
                    </div>
                    </div>
        {% empty %}
            <p>No posts available from users you are following.</p>
        {% endfor %}
    </div>
    
{% endblock %}