{% extends "network/layout.html" %}

{% block body %}
   
    {% if user.is_authenticated %}
        <div class="container">
            <section class="create-post">
                <form action="{% url 'index'%}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" name="content" placeholder="What's on your mind?" cols="10" rows="4"></textarea>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Post">
                </form>
            </section>
            <section class="all-posts">
                <h3>All Posts</h3>
                <hr>
                {% for post in posts %}
                    <div class="post">
                        <p>
                            <strong>
                                <a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a>
                            </strong> 
                            <em>{{ post.timestamp }}</em> 
                                <!-- Ellipsis -->
                                <span class="ellipsis">
                                    <i class="fa-solid fa-ellipsis"></i>
                                </span>
                            </p>
                        <p  class="post-content">{{ post.content }}</p>

                        <div class="like-container" data-post-id="{{ post.id }}">
                            {% if user.is_authenticated and post.liked_by_user %}
                                <i class="fa-solid fa-heart text-danger like-btn"></i>
                            {% else %}
                                <i class="fa-regular fa-heart like-btn"></i>
                            {% endif %}
                            <span class="like-count">{{ post.like_count }}</span>
                        </div>
                       
                        
                        <!--  Users should be able to click an “Edit” button or link on any of their own posts to edit that post. -->
                        {% if user.username == post.user.username %}    
                            <!-- edit post -->
                            <button class="btn btn-primary edit-content-btn" data-set="{{ post.id }}">
                                Edit
                            </button>
                                
                            {% endif %}
                        <hr>
                    </div>
                   
                {% empty %}
                    <p>No posts available.</p>
                {% endfor %}

            </section>
            <section>
                <div class="pagination">
                    <span class="page-links">
                        {% if posts.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ posts.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                        </span>

                        {% if posts.has_next %}
                            <a href="?page={{ posts.next_page_number }}">next</a>
                            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </section>
        </div>
    {% endif %}
{% endblock %}