{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network X{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="shortcut icon" href="{% static 'network/images/x-fav-icon.png' %}" type="image/x-icon">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    </head>
    <body>
    <div class="container-fluid">
    <div class="row">

        <!-- Left Sidebar -->
        {% if user.is_authenticated %}
        <aside class="col-2 col-md-3 col-lg-2 border-end p-3 left-sidebar">
            <a href="{% url 'index' %}" class="d-flex align-items-center mb-4">
                <img src="{% static 'network/images/x-logo.png' %}" alt="logo" width="32" height="32">
            </a>
            <ul class="nav flex-column">
                
                    <li class="nav-item mb-2"><i class="fa-regular fa-house"></i> <a href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item mb-2"><i class="fa-solid fa-magnifying-glass"></i> <a href="{% url 'explore' %}">Explore</a></li>
                    <li class="nav-item mb-2"><i class="fa-regular fa-user"></i> <a href="{% url 'profile' request.user.username %}">Profile</a></li>
                    <!-- Here i will add dropdown menue -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                        data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Add an existing account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Log out <span>@</span>{{ user.username }}</a>
                            </li>
                        </ul>
                    </li>
                        
                    
            </ul>
        </aside>
        {% else %}
            <aside>
                <div class="not-loggedin  text-center p-5 ">
                    <h2>Welcome to Social Network X</h2>
                    <p class="lead">Join today to connect with friends and the world around you.</p>
                    <a href="{% url 'register' %}" class="btn btn-primary btn-lg m-2">Sign Up</a>
                    <a href="{% url 'login' %}" class="btn btn-outline-primary btn-lg m-2">Log In</a>
                </div> 
            </aside>
        {% endif %}

        <!-- Main Feed -->
        <main class="col-8 col-md-6 col-lg-6 border-start top-bar border-end ">

            {% if user.is_authenticated %}
            <div class="d-flex justify-content-around border-bottom p-2 feed-tabs"> 
                <a href="{% url 'index' %}" class="nav-link fw-bold {% if request.resolver_match.url_name == 'index' %}active{% endif %}">For You</a>
                <a href="{% url 'following' %}" class="nav-link fw-bold {% if request.resolver_match.url_name == 'following' %}active{% endif %}">Following</a>   
            </div>
            {% endif %}

            <div class="feed p-3">
                {% block body %}{% endblock %}
            </div>
            
            
        </main>

        <!-- Right Sidebar -->
        {% if user.is_authenticated %}
        <aside class="col-2 col-md-3 col-lg-4 p-3 right-sidebar d-none d-md-block">
            <form class="mb-3">
                <input class="form-control rounded-pill" type="search" placeholder="Search">
            </form>
            <div class="p-3 mb-3 bg-light rounded">
                <h6 class="fw-bold">What’s happening</h6>
                <p class="mb-0 small">Trending #1</p>
            </div>
        </aside>
        {% endif %}

    </div>
    </div>
        
        <script src="{% static 'network/main.js' %}"></script>
    </body>
</html>