{% extends 'network/layout.html' %}

{% block body %}

    <!-- <h2>{{ profile_user.username }}</h2> -->
    {% if user.is_authenticated and user != profile_user %}
        <form action="#" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
                {% if is_following %}
                    Unfollow
                {% else %}
                    Follow
                {% endif %}
            </button>
        </form>
    {% endif %}
    <p>Followers: 0 | Following: 0</p>
    
    <hr>
    <div class="container">
        <!-- <h3>Posts by {{ profile_user.username }}</h3> -->
        {% for post in profile_user.posts.all %}
            <div class="post">
                <p><strong><a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a></strong> <em>{{ post.timestamp }}</em></p>
                <p>{{ post.content }}</p>
                <i class="fa-regular fa-heart"></i> <span>0</span>
                <hr>
            </div>
        {% empty %}
            <p>No posts available.</p>
        {% endfor %}    
    </div>
    
{% endblock %}
