{% extends 'network/layout.html' %}

{% block body %}

    <!-- <h2>{{ profile_user.username }}</h2> -->
    {% if user.is_authenticated and user != profile_user %}
        
        <form action="{% url 'follow' profile_user.username %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
                {% if is_following %}
                    Unfollow
                {% else %}
                    Follow
                {% endif %}
            </button>
        </form>
    {% endif %}
    <p>Followers: {{ followers_count }} | <a href="{% url 'following' %}">Following</a>: {{ following_count }}</p>
    
    <hr>
    <div class="container">
        {% for post in page_obj %}
            <div class="post">
                <p><strong><a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a></strong> <em>{{ post.timestamp }}</em></p>
                <p>{{ post.content }}</p>
                <i class="fa-regular fa-heart"></i> <span>0</span>
                <hr>
            </div>
        {% empty %}
            <p>No posts available.</p>
        {% endfor %}
        
        <!-- Pagination controls -->
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    
{% endblock %}
