body{
    padding: 10px;
    box-sizing: border-box;
}

.container{
    margin-top: 10px;
}

.ellipsis{
    float: right;
    cursor: pointer;
    font-weight: 800;
}
.ellipsis:hover {
    color: gray;
}

/* Design like and unlike feature */
.like-btn:hover {
    color: #dc0f0f;
    cursor: pointer;
}
