body{
    padding: 10px;
    box-sizing: border-box;
}

.container{
    margin-top: 10px;
}

.ellipsis{
    float: right;
    cursor: pointer;
    font-weight: 800;
}
.ellipsis:hover {
    color: gray;
}


