body{
    padding: 10px;
    box-sizing: border-box;
}

/* Start adding design to navbar */
.w-25{
    width: 25% !important;
}

.navbar-all-itemd{
    width: 100%;
}

.navbar-all-itemd .nav-item{
    /* width: 10px; */
    /* text-align: center; */
}

.navbar-all-itemd .nav-item:active{
    font-weight: 800;
}

.navbar-all-itemd .search-form {
    display: flex;
    justify-content: end;
    width: 100%;
    text-align: center;
}


.container{
    margin-top: 10px;
}

.ellipsis{
    float: right;
    cursor: pointer;
    font-weight: 800;
}
.ellipsis:hover {
    color: gray;
}

/* Design like and unlike feature */
.like-btn:hover {
    color: #dc0f0f;
    cursor: pointer;
}


